/*text-gray-800*/
.text-gray-800-alt {
    color: #282828;
    font-family: 'Nunito', sans-serif;
}

.text-yellow-800-alt-2{
    color: #ffc943;
    font-family: 'Poppins', sans-serif;
}

.bg-fundo-1 {
    background-color: #F2F2F2;
}

.text-poppins{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

@media screen and (max-width: 1280px) {

    .container-f{
        width: 100%;
    }
    
}
